.login-header {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.75) 0,
		rgba(0, 0, 0, 0) 100%
	);
	color: $netflix-red;

	h1 {
		position: relative;
		left: 15px;
	}
}

.app-header {
	display: flex;
	align-items: center;

	.header-logo {
		color: $netflix-red;
		margin-left: 35px;

		h1 {
			font-size: 1.75em;
			cursor: pointer;
		}
	}

	a {
		font-size: 0.75rem;
		font-weight: normal;
		transition: 0.3s ease-in-out all;
		color: $supporting-text;

		&:hover {
			color: inherit;
			opacity: 0.7;
		}
	}

	.active {
		color: inherit;
		font-weight: bold;

		&:hover {
			cursor: default;
			color: inherit;
			opacity: 1;
		}
	}

	.header-link-wrapper {
		display: flex;
		align-items: center;
		margin-left: 15px;
		max-width: 50%;
		width: 15%;
		justify-content: space-around;
	}

	.header-settings-wrapper {
		display: flex;
		align-items: center;
		flex-grow: 1;
		justify-content: flex-end;
		height: 100%;
		margin-right: 25px;

		.nav-item {
			margin-right: 25px;
			cursor: pointer;
		}
	}
}

.sub-header {
	height: 68px;
	position: relative;
	font-family: "Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

	.sub-header-wrapper {
		padding: 0 35px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;

		.dynamic-header {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin: 0;
			min-height: 0;
			padding: 0;
			flex-grow: 1;
			align-self: flex-start;

			.header-title {
				font-size: 1.5rem;
				display: inline-block;
				margin-right: 20px;
				line-height: 36px;
				font-weight: normal;
				letter-spacing: 1.3px;
			}
		}
	}
}
